.server-side-component {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 50px;
  margin-bottom: 30px;
  border: 3px solid brown;
  cursor: pointer;
}
.server-side-component__title {
  font-size: 24pt;
  color: brown;
}
.server-side-component__text {
  font-size: 12pt;
}
